<div class="col-12 col-md-4">
  <div class="card mb-3">
    <img src="static/pictures/{{ meal.picture }}" width="300" height="200" class="card-img-top" alt="">
    <div class="card-body">
      <div class="row ">
        <h5 class="col-6 card-title">{{ meal.title }}</h5>
        <h5 class="col-6 card-title text-right">{{ meal.price }} руб.</h5>
      </div>
      <p class="card-text">{{ meal.description }}</p>
      <a href="/addtocart1/" class="btn btn-danger">В корзину</a>
    </div>
  </div>
</div>
